allow-scripts=@firebase/util core-js-pure esbuild protobufjs sharp unrs-resolver
pnpm.ignored-built-dependencies[]=@firebase/util
pnpm.ignored-built-dependencies[]=core-js-pure
pnpm.ignored-built-dependencies[]=esbuild
pnpm.ignored-built-dependencies[]=protobufjs
pnpm.ignored-built-dependencies[]=sharp
pnpm.ignored-built-dependencies[]=unrs-resolver
